header {
  background-color: rgba(0, 0, 0, 0.81);
  height: 7.5vh;
  padding: 10px;
}

p {
  color: white;
}

main {
  background-color: rgba(0, 0, 0, 0.81);
  margin-top: 0.5vh;
  color: white;
}

.album {
  height: 300px;
  position: relative;
}

.modal-content{
  background-color: black;
  position:absolute;
  top:0px;
  height: 300px;
}
