<header>
  <div class="container">
    <div class="row align-items-center">
      <img class="logo col-auto" src="assets/img/SpotipocheLogo.png" alt="logo">
      <p class="col">Fausse option 1</p>
      <p class="col">Fausse option 2</p>
      <p class="col">Fausse option 3</p>
    </div>
  </div>
</header>
<main class="container">
  <h1>{{artist}}</h1>
  <div class="row">
    <div class="album col-3" *ngFor="let item of lstAlbum">
        <h3>{{item.name}}</h3>
        <img class="img-fluid" src="{{item.img}}" alt="img{{item.name}}"><br/>
        <button (click)="chargerChanson(item.name)">Voir chansons</button>
        <div id="modal-{{item.name}}" class="modal-content" style="display: none">
          <!-- todo  -->
          <button (click)="chargerChanson(item.name)">Retour</button>
        </div>
    </div>
  </div>
</main>
